# Node.js
node_modules/
dist/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretórios do sistema
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo 
# VSCode
.vscode/
*.vsix

# Configuração do ambiente
.env

# Cobertura de testes
coverage/

# Dependências locais e pacotes de cache
.pnp/
.pnp.js
__pycache__/
.cache/
.temp/

# Arquivos de lock
package-lock.json
yarn.lock

# Arquivos de compilação
*.tgz

# Documentação
doc/

# Extensão do VSCode
out/
.vscode-test/

# Configurações e backup do editor
.idea/
*.swp

# Configurações de deploy
.deploy/

# Outros
.npm/
.parcel-cache/
.sass-cache/
.ruby-gemset
.ruby-version
.jshintrc
.quokka/
!.yarn/cache
!.yarn/unplugged
!.yarn/build-state.yml
